 
 /*Import*/
 @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
 @import url('https://fonts.googleapis.com/css?family=Bree+Serif');
 @import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

 
 body {
    background-image: url("../images/background8.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    
} 
.overlay-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color:#fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
}
 
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
    
}
.centered-text{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px #000;
    font-size: 25px;
}
.centered-text2{
   text-align: center;
    color: black;
    text-shadow: 1px 1px 4px #fff;
    font-size: 25px;
}
.scroll {
   
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    
}


/*Footer Section*

.section-subscribe{
    padding: 5em 0;
}
.form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    height: 50px;
}
.form-control:focus{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.form-control:focus, .form-control:active {
    outline: none;
}
.btn {
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.btn.btn-secondary {
    color: #fff;
    border-width: 2px;
    background: #bc5148;
    border-color: #bc5148;
    padding: 10px;
}
.site-footer{
    padding: 5em 0;
    background: #bc5148;
    font-size: 14px;
    color: #fff;
    
}
.site-footer p:last-child{
    margin-bottom:0;
}
.site-footer a{
    color:#ffc107;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #fff;
}
.site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255,255,255,0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-social a:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}
.footer-social .fa {
    margin-top: 6px;
}

/*Fade-in-text animation*/

.fade-in-text {
    font-family: Arial;
    font-size: 40px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /*Body Section*/

/*Cloud1*/
.left {
    position: absolute;
    bottom: 60%;
    right: 50%;
    transform: translate(-50%, 50%);
}
#cloud {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }

  /*cloud2*/
  .right{
    position: absolute;
    top: 100%;
    left: 72%;
    transform: translate(-50%, -50%);
  }
  #cloud2 {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud2:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud2:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }

  /*CLOUD3*/
  .left1{
    position: absolute;
    bottom: -120%;
    right: 60%;
    transform: translate(-50%, -50%);
  }
  #cloud3 {
    background: rgba(255, 255, 255);
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    animation: move 3s infinite;
  }
  
  #cloud3:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
  }
  
  #cloud3:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    right: 40px;
  }
  
  @keyframes move {
    0% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-40px);
    }
  }
 
  

/*SWIPER JS */ 
  swiper-container {
    margin: 2px;
    padding: 2px;
   
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  swiper-slide img {
    display: block;
    max-width: 30%;
    max-height: 30%;
    object-fit: cover;
    border-radius: 10px;
  }
/*SWIPER JS */

/*BIO MEMBERS*/

.swiper{
  width: 250px;
  height: 450px;
}
.swiper-slide{
  width: 250px;
  height: 350px;
  box-shadow: 10px 5px 20px rgba(0,0,0,0.1);
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  

}
.swiper-slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .info{
  position: absolute;
  width: 90%;
  background: rgba(34,36,41,0.8);
  border-top: 3px solid #fff;
  padding: 15px 25px;
  bottom: 25px;
  right: 0;
  border-radius: 15px 0 0 15px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.swiper-slide .info h3{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}
.swiper-slide .info h4{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
}
/*DR SRI JULIANA BIO*/
.biography{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  width: 20%;
  height: 20%;
  margin-left: 500px;
  margin-right: auto;
}
.juliana{
  width: 20%;
  height: 20%;
  object-fit: fill;
}

/*DR SRI JULIANA BIO*/
/*-------------------*/
/*ARIF BIO*/
.biography2 img{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}
.biography2{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  
}
.biography2 h2{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}
.biography2 p{
  text-align: center;
}
.heartmath {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*ARIF BIO*/ 
/*-------------------*/
/*IDRIS BIO*/ 
.biography3 img{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5%;
}
.biography3{
  background-color: #fff;
  border-radius: 10%;
  margin-top: 10%;
  
}
.biography3 h2{
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}
.biography3 p{
  text-align: center;
}
/*CUSTOMER TESTIMONIALS*/ 
.clientswiper {
  color: #000;
  background-color: #fff;
  border-radius: 3%;
  font-family: 'Poppins';
}
.ProgramsSwiper {
  color: #000;
  border-radius: 3%;
  margin-top: 4%;
}

/*LOGIN PAGE*/
.box-area{
  width: 930px;
}
.right-box{
  padding: 40px 30px 40px 40px;
}
::placeholder{
  font-size: 16px;
}
.forgotlink{
  padding-left: 189px;
}
@media only screen and (max-width: 768px){
  .box-area{
    margin: 0 10px;
  }
  .left-box{
    height: 100px;
    overflow: hidden;
  }
  .right-box{
    padding: 20px;
  }
}

/*BOOKING PAGE*/

.booking {
  margin-top: 200px;
}











































/*ONE TIME IMPLEMENTATION*/
.feedback{
  padding-top: 10%;
}
.aboutus {
  padding-bottom: 3%;
}
.learnmore{
  padding-bottom: 3%;
  padding-top: 3%;
}
#prog-4{
height: auto;
max-width: 80%;
}
#prog-2{
  height: auto;
  max-width: 50%;
}
#prog-1{
  height: auto;
  max-width: 50%;
}
#prog-3{
  height: auto;
  max-width: 50%;
}
.hovertext1{
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  margin-top: 5%;
  outline: none;
  text-align: center;
}
.hovertext1:hover{
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.hovertext2{
  text-transform: uppercase;
  letter-spacing: -1.2px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  margin-top: 5%;
  outline: none;
  text-align: center;
}
.hovertext2:hover{
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}
.rembox{
  margin-left: 10px;
}
.forgetlink{
  padding-left: 200px;
}
.child{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
.aboutusimg{
  width: 40%;
  display: block;
  margin-left: 60%;
  margin-right: auto;
  border-radius: 5%;
}
.aboutus1{
  background-image: url("../images/aboutusimg3.jpg");
  background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
mark { padding: 0 0.1em; }

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 10px;
  
} 
.ump{
  width: 15%;
  padding-left: 20px;
}
.hrdcorp{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bioworkshop{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.childeva{
  background-image: url("../images/childevaluation.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.chooseus{
  background-image: url("../images/chooseus.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.multisensory{
  background-image: url("../images/teaching.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.vakt{
  background-image: url("../images/aboutusimg1.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.location{
  background-image: url("../images/location2.jpg");
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.staffbio{
  background-image: url("../images/aboutusimg5.jpg");
  background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
.button {
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: hsl(305, 77%, 76%);
  border: none;
  color: #fff;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #000;
  border-radius: 4px;
  margin-left: 35%;
  
  
  
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }

.commonques{
  background-image: url("../images/commonquesimg.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    overflow: scroll;
}
.collab{
  background-image: url("../images/collabimg.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    overflow: scroll;
}
.biofeedback{
  background-image: url("../images/commonquesimg.jpg");
  background-blend-mode: multiply;
    object-position: 20% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    overflow: scroll;
}
/*FAB ACTION STARTS HERE*/ 
@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #42A5F5;
  box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
}
.floating-container .float-element:nth-child(2) {
  background: #4CAF50;
  box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #FF9800;
  box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
}

/*CONTACT US STARTS HERE*/

#contact {
  width: 500px;
  margin:2em auto;
  background:white;
  position: relative;
  }
  #contact::after {
  content: "";
  display: block;
  height: 30px;
  width: 90%;
  left: 5%;
  bottom: 0;
  position: absolute;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  z-index: -1;
  }
  #contact article {
    padding: 1em;
  }
  #contact h1 {
  background: #2cb3f0;
  font-family: Oswald ,sans-serif;
  font-size: 1.75em;
  padding: 0.6em 0 0.6em 0.4em;
  color: white;
  text-shadow: 0 0.06em 0 #424242;
  position: relative;
  }
  .contactbutton {
  background: #2cb3f0;
  -webkit-box-shadow: 1px 1px 0 0 #fff,2px 2px 0 0 #fff,3px 3px 0 0 #fff;
  box-shadow: 1px 1px 0 0 #fff,2px 2px 0 0 #fff,3px 3px 0 0 #fff;
  text-align: center;
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 2px;
  cursor: pointer;
  }
  .contactbutton:hover {
  -webkit-box-shadow: 1px 1px 0 0 #fff,0px 0px 0 0 #fff,0px 0px 0 0 #fff;
  box-shadow: 1px 1px 0 0 #fff,0px 0px 0 0 #fff,0px 0px 0 0 #fff;
  margin-top: 22px;
  margin-left: 2px;
  margin-bottom: 0px;
  }
  .mail {
  margin-top: 11px;
  font-size: 15px;
  display: inline-block;
  border-top: 2em solid transparent;
  border-left: 2.6em solid #fff;
  height: 0;
  width: 0;
  position: relative;
  }
  .mail:before {
  content: '';
  top: -2.5em;
  left: -2.95em;
  display: block;
  position: absolute;
  border-top: 1.2em solid #fff;
  border-left: 1.6em solid transparent;
  border-right: 1.6em solid transparent;
  border-bottom: 1em solid transparent;
  font-size: 0.8em;
  }
  .mail::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 2em solid transparent;
  border-right: 2.6em solid #fff;
  height: 0;
  width: 0;
  left: -2.18em;
  bottom: 0;
  }
  #checkcontact{
  position: absolute;
  left: -9999px;
  }
  .contactform {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  -ms-transition: all linear 1s;
  transition: all linear 1s;
  }
  #checkcontact:checked + .contactform {
  max-height: 1000px;
  }
  .input_wrapper {
  position: relative;
  }
  .textarea_wrapper textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  }
  .input_wrapper input[type="text"] {
  margin-top: 1em;
  display: block;
  width: 100%;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  text-indent: 15%;
  }
  .input_wrapper input[type="text"]:focus {
  background: rgba(242, 56, 90, 0.05);
  box-shadow: inset 2px 2px 5px 0 #DADADA;
  outline: none;
  text-indent: 0;
  }
  .input_wrapper label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #2cb3f0;
  color: white;
  font-family: Oswald ,sans-serif;
  box-sizing: border-box;
  width: 15%;
  text-align: center;
  line-height: 2.8em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  }
  .input_wrapper input[type="text"]:focus + label {
  left: 85%;
  }
  .textarea_wrapper textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
    min-height:150px;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  }
  .textarea_wrapper textarea:focus {
  background: rgba(242, 56, 90, 0.05);
  box-shadow: inset 2px 2px 5px 0 #DADADA;
  outline: none;
  }
  .submit_wrapper {
  text-align: center;
  }
  .submit_wrapper input {
  text-align: center;
  display: inline-block;
  width: 40%;
  height: 50px;
  margin-top: 1em;
  margin-bottom: 6px;
  cursor: pointer;
  background: #2cb3f0;
  color: white;
  font-family: Oswald ,sans-serif;
  font-size: 1em;
  border: none;
  -webkit-box-shadow: 1px 1px 0 0 #fff,2px 2px 0 0 #fff,3px 3px 0 0 #fff;
  box-shadow: 1px 1px 0 0 #fff,2px 2px 0 0 #fff,3px 3px 0 0 #fff;
  -webkit-appearance: none;
    -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  }
  .submit_wrapper input:hover {
  -webkit-box-shadow: 1px 1px 0 0 #fff,0px 0px 0 0 #fff,0px 0px 0 0 #fff;
  box-shadow: 1px 1px 0 0 #fff,0px 0px 0 0 #fff,0px 0px 0 0 #fff;
  margin-top: 22px;
  margin-left: 2px;
  margin-bottom: 0px;
  }
  
  @media (max-width: 500px){
  #contact {
  width: 100%;
  }
    .input_wrapper label {
  line-height: 3.5em;
  font-size: 0.8em;
  }
  }
  .testimonials {
    padding: 100px 0;
  }
  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    border-bottom: 3px #007bff solid !important;
    transition: 0.5s;
    margin-top: 60px;
  }
  .testimonials .card i {
    background-color: #007bff;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
    }
    .popup-content{
       padding: 10px 10px;
       line-height: 1.5;
    }
    .cnt223 a{
    text-decoration: none;
    }
    .popup-onload{
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    }
    .cnt223{
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
    padding: 15px 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
    }
    .cnt223 p{
    clear: both;
        color: #555555;
        /* text-align: justify; */
        font-size: 20px;
        font-family: sans-serif;
    }
    .cnt223 p a{
    color: #d91900;
    font-weight: bold;
    }
    .cnt223 .x{
    float: right;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
    }
    .cnt223 .x:hover{
    cursor: pointer;
    }

    .footer {
      position: relative;
      width: 100%;
      background: #3586ff;
      min-height: 100px;
      padding: 20px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .social-icon,
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
    }
    
    .social-icon__item,
    .menu__item {
      list-style: none;
    }
    
    .social-icon__link {
      font-size: 2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
    }
    .social-icon__link:hover {
      transform: translateY(-10px);
    }
    
    .menu__link {
      font-size: 1.2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;
      font-weight: 300;
    }
    
    .menu__link:hover {
      opacity: 1;
    }
    
    .footer p {
      color: #fff;
      margin: 15px 0 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
    
    .wave {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("https://i.ibb.co/wQZVxxk/wave.png");
      background-size: 1000px 100px;
    }
    
    .wave#wave1 {
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animateWaves 4s linear infinite;
    }
    
    .wave#wave2 {
      z-index: 999;
      opacity: 0.5;
      bottom: 10px;
      animation: animate 4s linear infinite !important;
    }
    
    .wave#wave3 {
      z-index: 1000;
      opacity: 0.2;
      bottom: 15px;
      animation: animateWaves 3s linear infinite;
    }
    
    .wave#wave4 {
      z-index: 999;
      opacity: 0.7;
      bottom: 20px;
      animation: animate 3s linear infinite;
    }
    
    @keyframes animateWaves {
      0% {
        background-position-x: 1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }
    
    @keyframes animate {
      0% {
        background-position-x: -1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }
    
  


